<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
    <header>
        <div class="header-content">
            <img  id="logo" src="image/logo.jpg"/>

            <ul id="tags">
  <li v-repeat="tags">

  </li>
</ul>

            <div id="app">
              <p>{{ message }}</p>
              <input v-model="message">
            </div>

            <div id="app1">
              <ul>
                <li v-for="todo in todos">
                  {{ todo.text }}
                </li>
              </ul>
            </div>

            <div class="buttons">
                <a href="/HiServiceCRM">登录</a>
                <a href="/HiServiceCRM/register.jsp">注册</a>
            </div>

        </div>
    </header>
    <script src="http://webapp.didistatic.com/static/webapp/shield/z/vue/vue/1.0.24/vue.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>
