.banner{
    width: 600px;
    height: 200px;
    position: relative;
    overflow: hidden;
}
.banner #imgList{
    width: 1800px;
    height: 200px;
    position: absolute;
}
.banner #imgList .img{
    width: 600px;
    height: 200px;
    float: left;
    list-style: none;
}
.banner .showList{
    position: absolute;
    bottom: 0;
}
.banner .showList .show{
    width: 30px;
    height: 5px;
    list-style: none;
    float: left;
    margin: 0 3px;
    background: #ccc;
}
