/*
动画相关的属性：
1.过渡（transition）--呈现是变形的过程
2.变形（transform）
3.动画（animation）

转换（transition）：
transition: property duration timing-function delay;
1.transition-property 规定设置过渡效果的 CSS 属性的名称。若是all，则是所有属性设置此动画效果
2.transition-duration 规定完成过渡效果需要多少秒或毫秒。
3.transition-timing-function 规定速度效果的速度曲线。(linear,ease-in,ease,ease-out,ease-in-out)
4.transition-delay 定义过渡效果何时开始。默认为0

transform属性的值，是变形函数列表，函数如下
1.rotate()函数--旋转动画
2.skew()函数--倾斜动画
3.scale()函数--缩放动画
4.translate()函数--移动动画
5.matrix()函数--重新定位元素动画
*/
/*动画一*/
#div1{
    position: absolute;
    top: 100px;
    left: 200px;
    width: 100px;
    height: 150px;
    background-color: black;
    /*定义动画的过程*/
    -webkit-transition: -webkit-transform 5s linear;
    -moz-transition: -moz-transform 5s linear;
    -o-transition: -o-transform 5s linear;
    transition: -transform 5s linear;
}
/*定义动画的状态*/
#div1:hover{
    /*scale(1,2)表示宽度不变，高度变成二倍*/
    -webkit-transform: rotate(90deg) scale(2);
    -moz-transform: rotate(90deg) scale(2);
    -ms-transform: rotate(90deg) scale(2);
    -o-transform: rotate(90deg) scale(2);
    transform: rotate(90deg) scale(2);
}
/*动画二*/
#div2{
    position: absolute;
    top: 100px;
    left: 400px;
    width:100px;
    height:100px;
    background:blue;
    transition:width 2s;
    -moz-transition:width 2s; /* Firefox 4 */
    -webkit-transition:width 2s; /* Safari and Chrome */
    -o-transition:width 2s; /* Opera */
}

#div2:hover{
    width:300px;
}

/*动画三*/
#div3{
    position: absolute;
    top: 300px;
    left: 400px;
    width:100px;
    height:100px;
    background:blue;
    -transition:-transform 2s;
    -moz-transition:-moz-transform 2s; /* Firefox 4 */
    -webkit-transition:-webkit-transform 2s; /* Safari and Chrome */
    -o-transition:-o-transform 2s; /* Opera */
}

#div3:hover{
    -webkit-transform: translate(20px,20px);
    -moz-transform: translate(20px,20px);
    -o-transform: translate(20px,20px);
    -transform: translate(20px,20px);
}

#div4{
    width:100px;
    height:100px;
    background:red;
    position:relative;
    animation:mymove 5s infinite;
    -webkit-animation:mymove 5s infinite; /*Safari and Chrome*/
}

@keyframes mymove
{
    from {left:0px;}
    to {left:200px;}
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
    from {left:0px;}
    to {left:200px;}
}
