@charset "utf-8";

body{
background-color:#f0f0f0;
font-family: 'Helvetica Neue', Helvetica, 微软雅黑, Arial, sans-serif;
font-size:14px;
}

#tip{
width:100%;
height:100px;
background:url(../image/haisi31_01_header_bg.jpg);
}

#logo{
width:100%;
height:42px;
background:url(../img/logobg_2.png);
}

.mousev{
background:url(../img/overbg_2.png);
background-repeat:no-repeat;
background-position:left;
}

.mouseo{
background:url();
}

a{
color:#adadad;
text-decoration:none;
}

#neck{
width:100%;
height:600px;
background:url(../image/haisi31_01_首页隶书.jpg)no-repeat center 0;
}

#stom{
margin-top:30px;

background-color:#f0f0f0;

width:100%;

height:781px;

}

#stom_c{

margin:0 auto;

width:1000px;

height:1381px;

background:url(../img/midcontbg.jpg);



}

#foot{


width:100%;

height:100px;

background:url(../image/haisi31_footer_bg.jpg);

}

#foot_c{

margin:0 auto;

width:1000px;

}

#foot_t{

padding-top:15px;

width:1000px;

}

#foot_b{



width:1000px;

height:33px;

line-height:33px;



font-size:12px;

color:#545353;


}



#head{

width:100%;

height:142px;



}



#tip_c{

width:1000px;

height:100px;

margin:0 auto;



}

#tp_l{

float:left;

width:500px;

height:100px;

}

#qqTalk{
	height:20px;
	display: inline-block;
	vertical-align: middle;
}


#sym_t img {

margin-top:10px;



}

#sym_c{

font-size:16px;

color:#ffffff;

width:200px;

height: 80px;

display: inline-block;

vertical-align: middle;

}

#tp_r{

text-align:right;

float:left;

margin-top:45px;

width:500px;

height:30px;

}

.reglo {
	padding: 10px;

	margin-left: 10px;

	border:1px solid gray;

	border-radius: 10px;
}

.reglo a {

	font-size:16px;

	color:#FFF;
}

.reglo:hover {
	
}

.reglo:hover a
{
	color: #adadad;
	
}



#logo_c{

width:1000px;

height:42px;

margin:0 auto;

padding-left: 100px;

}

#logo_c ul{

margin:0px;

padding:0px;

}

#logo_c li{


display: block;


list-style:none;

float:left;

width:75px;

height:40px;

line-height:40px;

font-size:15px;

color:#FFFFFF;

margin-right:60px;

text-align: center;

line-height:40px;

cursor: pointer

}



.mag{

margin-left:20px;

width:75px;

height:33px;

margin-top:6px;

line-height:33px;

cursor:pointer;

}



#neck_c{

width:1000px;

height:334px;

margin:0 auto;



}

#neck_l{

float:left;

text-align:center;

width:500px;

height:240px;

margin-top:40px;





}

#neck_r{

float:left;

margin-top:40px;

width:500px;

height:260px;

}

#neck_r_1{

margin-top:20px;

width:490px;

height:116px;



}

#neck_r_2{

margin-top:30px;



}





#stom_1{

width:1000px;

height:580px;





}

#stom_2{

width:1000px;

height:200px;



}

#stom_1 li{

list-style:none;

float:left;

width:500px;

height:250px;

}

#stom_0_1{

float:left;

width:1000px;

height:280px;







}

#stom_1_1{

float:left;

width:1000px;

height:280px;







}

#stom_2_2{

float:left;

width:1000px;

height:285px;

}

#stom_1_2{

float:left;

width:1000px;

height:285px;

}

#s_00{

float:left;

width:490px;

height:270px;





}

#s_01{

float:left;

width:490px;

height:270px;

}

#s_1{

float:left;

width:490px;

height:270px;





}

#s_2{

float:left;

width:490px;

height:270px;





}

#stom_1_1_t{

margin:0 auto;

width:900px;

height:5px;





}

#s_00_1{

float:left;

margin-left:30px;

margin-top:50px;

width:130px;

height:170px;



}



#s_1_1{

float:left;

margin-left:30px;

margin-top:50px;

width:130px;

height:170px;



}

#s_00_2{

float:left;

margin-left:30px;



margin-top:50px;



width:270px;

height:170px;

}

#s_1_2{

float:left;

margin-left:30px;



margin-top:50px;



width:270px;

height:170px;

}

#s_01_1{

float:left;

margin-left:30px;

margin-top:50px;

width:130px;

height:170px;



}

#s_2_1{

float:left;

margin-left:30px;

margin-top:50px;

width:130px;

height:170px;



}

#s_01_2{

float:left;

margin-left:30px;



margin-top:50px;



width:270px;

height:170px;

}


#s_2_2{

float:left;

margin-left:30px;



margin-top:50px;



width:270px;

height:170px;

}

#stom_2_2_t{

margin:0 auto;

width:900px;

height:5px;





}

#stom_1_2_t{

margin:0 auto;

width:900px;

height:5px;





}

#stom_2_2_b{

width:1000px;

height:270px;



}

#stom_1_2_b{

width:1000px;

height:270px;



}





.s1{

text-align:center;

font-weight: bold;

  font-size:16px;

  color:#424242;

 line-height:40px;



}

 .s2{

 

 font-size:14px;

 color:#5d5d5d;

line-height:32px;



 }

  #s_5{

 float:left;

width:490px;

height:230px;

 }

 #s_3{

 float:left;

width:490px;

height:230px;

 }

 #s_6{

 float:left;

width:490px;

height:230px;



 

 }

 #s_4{

 float:left;

width:490px;

height:230px;



 

 }

  #s_5_1{

 float:left;

margin-left:30px;

margin-top:40px;

width:130px;

height:180px;

 

 

 }

 #s_3_1{

 float:left;

margin-left:30px;

margin-top:40px;

width:130px;

height:180px;

 

 

 }

 #s_5_2{

 float:left;

margin-left:30px;



margin-top:40px;



width:270px;

height:180px;

 

 }

 #s_3_2{

 float:left;

margin-left:30px;



margin-top:40px;



width:270px;

height:180px;

 

 }

 #s_4_1{

  float:left;

margin-left:30px;

margin-top:40px;

width:130px;

height:180px;

 

 }

  #s_6_1{

  float:left;

margin-left:30px;

margin-top:40px;

width:130px;

height:180px;

 

 }

 #s_6_2{

 float:left;

margin-left:30px;



margin-top:40px;



width:270px;

height:180px;

 

 }

 #s_4_2{

 float:left;

margin-left:30px;



margin-top:40px;



width:270px;

height:180px;

 

 }

 #stom_2_c{

 width:1000px;

 height:198px;

 

 }

 #stom_2_l{

 float:left;

 width:540px;

 height:165px;

 padding-left:40px;

 

 }

 #stom_2_r{

padding-left:4px;

 float:left;

 width:390px;

 height:165px;

 

 }



#pa_t{

margin-top:30px;

width:390px;

height:100px;

line-height:30px;



}









.t1{

width:160px;

height:25px;

line-height:25px;

}

.t2{



width:160px;

height:2px;

line-height:2px;

}

.f_c{



font-size:16px;

color:#b0ecff;



}

.f_ti{

float:left;

font-size:12px;

color:#adadad;



}

.f_tele{

margin-right: 30px;

font-size:13px;

color:#b0ecff;

}

.cop_r{

width:500px;

height:30px;



line-height:30px;

margin:0 auto;



margin-left:300px;





}

 