@charset "utf-8";
 body{
background-color:#f0f0f0;
font-family: 'Helvetica Neue', Helvetica, 微软雅黑, Arial, sans-serif;
font-size:14px;
 
 }

a{
color:#adadad;
text-decoration:none;


}

#stom_sec_c{
width:1000px;
height:1350px;
margin:0 auto;
background:url(../secu/midcont_2.jpg);

background-repeat:no-repeat;

}

#stom_sec{
margin-top:30px;
width:100%;
height:1350px;
}


#sec_1{
margin:0 auto;
padding-top:50px;
width:900px;
height:200px;



}
#sec_2{
margin:0 auto;
margin-top:25px;
width:900px;
height:228px;

}
#sec_3{
margin:0 auto;
margin-top:25px;
width:900px;
height:238px;

}
#sec_4{
margin:0 auto;
margin-top:25px;
width:900px;
height:238px;

}
#sec_5{
margin:0 auto;
margin-top:25px;
width:900px;
height:228px;

}

#sec_1_l{
float:left;
margin-top:40px;
line-height:30px;
width:350px;
height:120px;


}
#sec_1_r{
float:right;

width:200px;
height:200px;



}
.lo_t{

width:350px;
height:35px;
font-size:22px;
color:#424242;
font-weight: bold;

}

.lo_t img
{
	vertical-align: middle;
}
.lo_a{
margin-top:10px;

font-size:14px;
color:#5d5d5d;
width:350px;
height:60px;

}

#sec_2_l{
float:left;
width:200px;
height:200px;



}
#sec_2_r{
float:right;
margin-top:50px;

width:350px;
height:120px;
line-height:30px;
}
#sec_3_l{
float:left;
margin-top:10px;
width:350px;
height:170px;
line-height:30px;


}
#sec_3_r{
float:right;
width:200px;
height:200px;
text-align:right;

}
#sec_4_l{
float:left;
width:200px;
height:200px;



}
#sec_4_r{
float:right;
margin-top:50px;
width:350px;
height:120px;
line-height:30px;

}
#sec_5_l{
float:left;
margin-top:40px;
width:350px;
height:120px;
line-height:30px;
}
#sec_5_r{
float:right;
width:200px;
height:200px;
text-align:right;

}


.secur_t{
margin-left:15px;

}
#sec_2_1c{
width:900px;
height:3px;

}

#sec_2_2c{
width:900px;
height:200px;
margin-top:25px;

}
#sec_3_1c{
width:900px;
height:3px;

}
#sec_3_2c{
width:900px;
height:200px;
margin-top:25px;

}
#sec_4_1c{
width:900px;
height:3px;

}
#sec_4_2c{
width:900px;
height:200px;
margin-top:25px;

}
#sec_5_1c{
width:900px;
height:3px;

}
#sec_5_2c{
margin-top:25px;
width:900px;
height:200px;

}


