@charset "utf-8";
 body{
background-color:#f0f0f0;
font-family: 'Helvetica Neue', Helvetica, 微软雅黑, Arial, sans-serif;
font-size:14px;
 
 }

a{
color:#adadad;
text-decoration:none;


}

#stom_super_c{
margin:0 auto;
width:1000px;
height:1150px;
background:url(../advan/midcont_3.jpg);

}


#stom_super{
margin-top:30px;
width:100%;
height:1150px;


}

#sup_1{
margin:0 auto;
padding-top:50px;
width:900px;
height:200px;


}
#sup_1_1{
float:left;
width:350px;
height:150px;


}
#sup_1_2{
float:right;

width:200px;
height:200px;


}
.cir_lit{

font-size:14px;
color:#5d5d5d;
line-height:30px;
}

#q_t{
width:300px;
height:40px;
font-size:22px;
color:#424242;

}
#q_t img
{
	vertical-align: middle;
}
#sup_2{
margin:0 auto;
margin-top:25px;
width:900px;
height:238px;


}
#sup_2_1{
float:left;
width:200px;
height:200px;


}
#sup_2_2{
float:right;
padding-top:30px;
width:350px;
height:140px;

}
#sup_3{
margin:0 auto;
margin-top:25px;
width:900px;
height:238px;

}
#sup_4{
margin:0 auto;
margin-top:25px;
width:900px;
height:238px;

}
#sup_3_1{
float:left;
margin-top:30px;
width:350px;
height:150px;

}
#sup_3_2{
float:right;

width:200px;
height:200px;



}
#sup_4_1{
float:left;

width:300px;
height:200px;


}
#sup_4_2{
float:right;

padding-top:30px;
width:350px;
height:150px;

}

.advan_t{
margin-left:15px;
font-weight: bold;

}
#sup_2_c1{
width:900px;
height:3px;

}
#sup_2_c2{
margin-top:25px;
width:900px;
height:200px;

}
#sup_3_c1{
width:900px;
height:3px;
}
#sup_3_c2{
margin-top:25px;
width:900px;
height:200px;
}
#sup_4_c1{
width:900px;
height:3px;
}
#sup_4_c2{
margin-top:25px;
width:900px;
height:200px;
}

