@charset "utf-8";

 body{

background-color:#f0f0f0;

font-family: 'Helvetica Neue', Helvetica, 微软雅黑, Arial, sans-serif;

font-size:14px;

 

 }



a{

color:#adadad;

text-decoration:none;





}



#stom_try_c{

margin:0 auto;

width:1000px;

background:url(../try/midcont.jpg);

background-size: cover;

height:1600px;

font-size:12px;

color:#5d5d5d;



}



#stom_try{

margin-top:30px;

width:100%;

height:600px;



}



#try_1{

margin:0 auto;

padding-top:50px;

width:900px;

height:200px;



}

#t_1_1{

width:900px;

height:100px;

}

#t_1_2{

margin-top:10px;

width:900px;

height:90px;

}

#try_2{

margin:0 auto;

margin-top:25px;

width:900px;

height:260px;

}

#try_3{

margin:0 auto;

margin-top:25px;

width:900px;

height:320px;

}

#try_4{

margin:0 auto;

margin-top:25px;

width:900px;

height:500px;

}

.t{

font-weight: bold;

font-size:22px;

color:#424242;

width:900px;

height:100px;

}

#try_2_1{

margin:0 auto;

width:900px;

height:5px;



}

#try_2_2{

margin-top:25px;

width:900px;

height:100px;



}

#try_2_3{

width:900px;

height:100px;



}

#try_2_3_a{





width:900px;

height:30px;

line-height:30px;

}

#try_2_3_b{



width:900px;

height:30px;

line-height:30px;

}

#try_2_3_c{





width:900px;

height:30px;

line-height:30px;

}

#try_2_4_c{





width:900px;

height:30px;

line-height:30px;

}





#try_3_1{

margin:0 auto;

width:900px;

height:3px;



}

#try_3_2{

margin-top:25px;

width:900px;

height:100px;



}

#try_3_3{



width:900px;

height:160px;



}

#try_3_3_a{

width:900px;

height:90px;

line-height:30px;

}

#try_3_3_b{

margin-top:4px;

width:900px;

height:60px;

line-height:30px;

}

#try_3_3_c{

margin-top:4px;

width:900px;

height:60px;

line-height:30px;

}

#try_3_3_d{

margin-top:10px;

width:900px;

height:40px;

line-height:40px;



}

#try_4_1{

margin:0 auto;

width:900px;

height:3px;



}

#try_4_2{

margin-top:25px;

width:900px;

height:100px;



}

#try_4_3{

width:900px;

height:160px;

}

#try_4_3_a{

width:900px;

height:30px;

line-height:30px;

}

#try_4_3_b{

margin-top:4px;

width:900px;

height:60px;

line-height:30px;

}

#try_4_3_c{

margin-top:4px;

width:900px;

height:110px;

line-height:30px;

}

#try_4_3_d{

margin-top:10px;

width:900px;

height:110px;

line-height:30px;

}

#try_4_3_e{

margin-top:10px;

width:900px;

height:80px;

line-height:30px;

}

#try_4_3_f{

margin-top:10px;

width:900px;

height:40px;

line-height:30px;

}



 