#modDep{
    background: white; /* fallback for older/unsupporting browsers */
    background: -moz-linear-gradient(top, #dedede, white 8%);
    background: -webkit-gradient(linear, 0 0, 0 8%, from(#dedede), to(white));
    border-top: 1px solid white;

    padding: 0 10px;
    text-align: left;
    min-height: 650px;
    border: 1px solid #CCCCCC;
}
.inner-page-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 10px;
}
.arrow-down {
    display: inline-block;
    width:0;
    height:0;
    border: 5px solid transparent;
    border-top-color: black;
    margin-right: 10px;
}
form {
    padding: 10px;
    border: 1px solid #CCCCCC;
    height: 700px;
    overflow-y: auto;
}
#footer,
#otherDep table tr:nth-child(even),
#belongDep table tr:nth-child(even){
  background-color: #2189bf;
}
#content{
  display: flex;
  flex-direction: row;
}
#otherDep,
#belongDep{
  border: 3px solid #2189bf;
  flex-grow: 2;
  height: 600px;
  position: relative;
  box-shadow: 5px 5px 5px #2189bf;
  overflow: auto;
}
#belongDep{
  left: 10px;
  margin-right: 15px;
}
#otherDep header,
#belongDep header,
#otherDep footer,
#belongDep footer{
  font-weight: bold;
  height: 5%;
  position: absolute;
  width: 100%;
  box-shadow: 5px 5px 5px #2189bf;
}
#otherDep header,
#belongDep header{
  top: 0px;
}
#otherDep table,
#belongDep table{
  line-height: 32px;
  width: 100%;
  position: absolute;
  top: 5%;
  text-align: center;

}

#otherDep footer,
#belongDep footer{
 bottom: 0px;
}
#buttons{
  flex-grow: 1;
  height: 600px;
}
#buttons input{
  margin: 30px auto 30px auto;
  display: block;
  width: 80px;
  height: 40px;
  position: relative;
  top: 230px;
}
#footer{
  margin-top: 15px;
  height: 50px;
}
#footer input{
  width: 80px;
  height: 40px;
  position: relative;
  margin: 5px;
  left: calc(100% - 200px);
}
